{
  "semi": false,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "editorconfig": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "importOrder": [
    "^(react|next)",
    "^@?\\w",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}